body {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar-brand {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2em;
}
.main_icon {
  width: 192px;
  height: 76px;
  font-size: 1.2em;
}
.main_icon img {
  width: 100%;
  height: 100%;
}
.navbar-toggler:focus {
  color: rgba(255, 255, 255, 0.55);
}
.nav-images-links {
  list-style: none;
  width: 60px;
}
.nav-images-links img {
  width: 100%;
  height: auto;
}
.nav-link {
  padding: 0;
}
.links_Wrapper {
}
.links_Wrapper .first_links {
  display: flex;
  justify-content: end;
  gap: 22px;
  align-items: center;
}
.links_Wrapper .first_links a {
  opacity: 0.8;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.19px;
  font-weight: 400;
}
.links_Wrapper .first_links a:hover {
  color: #0074ac;
}
.links_Wrapper .first_links .search_wrapper {
  cursor: pointer;
}
.links_Wrapper .second_links {
  margin-top: 22px;
  display: flex;
  gap: 38px;
}
.links_Wrapper .second_links a {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.links_Wrapper .second_links a:hover {
  color: #0074ac;
}
.links_Wrapper .search_form {
  border: 1px solid #80808091;
  border-radius: 4px;
}
.links_Wrapper .search_form input {
  border: none;
  width: 150px;
  outline: none;
  box-shadow: none;
}
.links_Wrapper .search_form svg {
  margin-right: 12px;
}

/* All Media Queries */
@media (max-width: 991px) {
  .links_Wrapper {
    display: flex;
    justify-content: space-between;
  }
  .links_Wrapper .first_links {
    flex-direction: column;
    margin-top: 22px;
  }
  .links_Wrapper .second_links {
    flex-direction: column;
  }
}

/* content Section */
.hero-section {
  background-color: #005;
  /* height: calc(90vh - 100px);
  max-height: calc(100vh - 100px); */
}

.hero-text {
  font-size: 48px;
  color: rgb(246, 246, 246);
  letter-spacing: 1px;
  line-height: 72px;
  font-weight: 800;
  margin-left: 200px;
  width: 40%;
  height: 100%;
}

.slider-text {
  color: white;
  font-size: 48px;
}
.slider-paragraph {
  color: white;
  font-size: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 3vw;
}

/* All Media Queries */
@media (max-width: 1550px) {
  .hero-text {
    font-size: 30px;
  }
  .slider-text {
    font-size: 30px;
  }
  .slider-paragraph {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .hero-text {
    font-size: 20px;
  }
  .slider-text {
    font-size: 20px;
  }
  .slider-paragraph {
    font-size: 12px;
  }
}

/* contact Section */
.Contact_section {
  height: 90vh;
  background-color: #004b6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-site h2 {
  font-size: 40px;
  font-weight: 700;
}
.left-site p {
  font-size: 20px;
  font-weight: 400;
}

.right-site input {
  width: 100%;
  height: 35px;
  margin: 0 0 30px;
  outline: none;
}

.right-site textarea {
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
}

.btn {
  border: none;
  height: 50px;
  width: 160px;
  background-color: rgb(66, 124, 66);
  color: white;
}
::placeholder {
  color: rgb(126, 126, 180);
  padding-left: 10px;
}
