body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: black !important;
}
.navbar-brand {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2em;
}
.open_book_icon {
  font-size: 1.2em;
}
.navbar-toggler:focus {
  color: rgba(255, 255, 255, 0.55);
}
.nav-images-links {
  list-style: none;
  width: 60px;
}
.nav-images-links img {
  width: 100%;
  height: auto;
}
.nav-link {
  padding: 0;
}
.navbar-collapse .images_links_wrapper {
  display: flex;
  @media (max-width: 767px) {
    justify-content: start !important;
  }
}
.logo-title {
  @media (max-width: 767px) {
    display: none;
  }
}

/* content Section */
.content-container {
  margin-top: 50px;
}


/* contact Section */
.Contact_section{
  height: 100vh;
  background-color: #004B6F;
}

.container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.left-site h2{
  font-size: 40px;
  font-weight: 700;
  

}
.left-site p{
  font-size: 20px;
  font-weight: 400;

  
}

.right-site input{
   width: 100%;
   height: 35px;
   margin: 0 0 30px;
   outline: none;
}


.right-site textarea{
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
}

.btn{
  border: none;
  height: 50px;
  width: 160px;
  background-color: rgb(66, 124, 66);
  color: white;
}
::placeholder{
  color: rgb(126, 126, 180);
  padding-left: 10px;
}



