body {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.4s ease;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.navbar {
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar-brand {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2em;
}
.main_icon {
  width: 192px;
  height: 76px;
  font-size: 1.2em;
}
.main_icon img {
  width: 100%;
  height: 100%;
}
.navbar-toggler:focus {
  color: rgba(255, 255, 255, 0.55);
}
.nav-images-links {
  list-style: none;
  width: 60px;
}
.nav-images-links img {
  width: 100%;
  height: auto;
}
.nav-link {
  padding: 0;
}

.links_Wrapper .first_links {
  display: flex;
  justify-content: end;
  gap: 22px;
  align-items: center;
}
.links_Wrapper .first_links a {
  opacity: 0.8;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.19px;
  font-weight: 400;
}
.links_Wrapper .first_links a:hover {
  color: #0074ac;
}
.links_Wrapper .first_links .search_wrapper {
  cursor: pointer;
}
.links_Wrapper .second_links {
  margin-top: 22px;
  display: flex;
  gap: 38px;
}
.links_Wrapper .second_links a {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.links_Wrapper .second_links a:hover {
  color: #0074ac;
}
.links_Wrapper .search_form {
  border: 1px solid #80808091;
  border-radius: 4px;
}
.links_Wrapper .search_form input {
  border: none;
  width: 150px;
  outline: none;
  box-shadow: none;
}
.links_Wrapper .search_form svg {
  margin-right: 12px;
}

/* All Media Queries */
@media (max-width: 991px) {
  .links_Wrapper {
    display: flex;
    justify-content: space-between;
  }
  .links_Wrapper .first_links {
    flex-direction: column;
    margin-top: 22px;
  }
  .links_Wrapper .second_links {
    flex-direction: column;
  }
}

/* HERO SECTION */
.hero-section {
  background-color: #005;
}

.hero-text {
  font-size: 48px;
  color: rgb(246, 246, 246);
  letter-spacing: 1px;
  line-height: 72px;
  font-weight: 800;
  margin-left: 200px;
}

.hero-container {
  width: 58%;
  height: calc(70vh - 100px);
  max-height: calc(100vh - 100px);
}

.slider-text {
  color: white;
  font-size: 24px;
}
.slider-paragraph {
  color: white;
  font-size: 12px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 3vw;
}

/* All Media Queries */
@media (max-width: 1200px) {
  .hero-container {
    width: 100%;
  }
  .hero-text {
    margin-left: 1px;
    display: flex;
    text-align: center;
  }
}

/* NEWS SECTION */

.news {
  background-image: url("../assets//Graphic/bubble\ inlay.svg");
  background-size: 68% 308%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
}

.news-wrapper {
  margin-left: 130px;
  margin-right: 130px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}

.news-section {
  width: 70%;
}

.news-text {
  font-size: 24px;
  color: #004b6f;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.all-news {
  font-size: 21px;
  color: #71bd56;
  letter-spacing: 0.38px;
  line-height: 16px;
  font-weight: 700;
}

.card-text {
  font-size: 18px;
  color: #004b6f;
  letter-spacing: 0.43px;
  line-height: 24px;
  font-weight: 700;
  padding: 16px;
}

.bottom-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.51);
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 200;
  padding-left: 16px;
}

.news-card {
  width: 290px;
  height: 406px;
  background: #ffffff;
  position: relative;
}

.img-container {
  position: absolute;
  top: 0;
}

.bottom-container {
  position: absolute;
  bottom: 0;
}

.termine-card {
  width: 290px;
  height: 406px;
  background: #ffffff;
}

.termine-section {
  width: 30%;
}

.text-container {
  display: flex;
  border-bottom: 1px solid #71bd56;
  gap: 20px;
}

.last {
  border-bottom: none;
}

.termine-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 200;
}

.termine-number {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.67px;
  font-weight: 700;
}

/* contact Section */
.Contact_section {
  height: 75vh;
  background-color: #004b6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-site h2 {
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 54px;
  font-weight: 700;
}
.left-site p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  line-height: 30px;
  font-weight: 200;
}

.right-site input {
  width: 100%;
  height: 30px;
  margin: 0 0 30px;
  outline: none;
}

.right-site textarea {
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
}

.btn {
  border: none;
  height: 48px;
  width: 184px;
  background-color: #71bd56;
  color: white;
  border-radius: 0;
  transition: 0.3s ease;
}
.btn :hover {
  background-color: #0074ac;
  color: white;
}

::placeholder {
  font-size: 18px;
  color: #004b6f;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 200;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-check-input {
  height: 24px !important;
  width: 24px !important;
  margin-top: 10px !important;
}

.input-group p {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 200;
}

.input-group p span {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 200;
  border-bottom: 1px solid;
}

/* {blog ######################33} */

.blog {
  margin-top: 50px;
}
.blog-main {
  margin-top: 40px;
}
.blog-title h1 {
  font-size: 48px;
  color: #004b6f;
  letter-spacing: 0;
  text-align: center;
  line-height: 54px;
  font-weight: 700;
}

.first-blogcard img {
  width: 100%;
  height: 290px;
}

.first-blogcard span {
  font-size: 14px;
  color: #004b6f;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: 200;
}

.first-blogcard h4 {
  font-size: 21px;
  color: #004b6f;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 700;
}
.first-blogcard button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  opacity: 100%;
  border-radius: 0;
  border: none;
  background-color: #0074ac;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: 200;
}

.first-blogcard p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 200;
}

/* {tatget ###############33} */


/* {cta section #######################33} */
.image_gallery-section {
  margin-top: 50px;
}
.main-gallery {
  display: flex;
  flex-direction: row;
  gap: 23px;
  margin-top: 23px;
}

.main-gallery img {
  width: 397px;
  height: 346px;
}

@media (max-width: 1200px) {
  .main-gallery {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .main-gallery img {
    width: 100%;
  }
}

/* FOOTER STYLES */
.footer_section {
  position: relative;
  background: #004b6f;
  padding-bottom: 52px;
  padding-top: 70px;
  margin-top: 240px;
}
.footer_section .logo_light {
  width: 192px;
  height: 76px;
}
.footer_section .logo_light img {
  width: 100%;
  height: 100%;
}
.footer_section .company_description {
  margin-top: 22px;
}
.footer_section .company_description p {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 30px;
  font-weight: 200;
}
.footer_section .company_description_part {
  margin-top: 42px;
}
.footer_section .footer_heading {
  margin-top: 40px;
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 8px;
}
.footer_section .heading_content h1 {
  margin-top: 28px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  padding-bottom: 8px;
  text-transform: uppercase;
  border-bottom: 1px dashed #ffffff;
}
.footer_section .heading_content P {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 200;
}
.footer_section .heading_content_last {
  margin-top: 28px;
}
.footer_section .heading_content_last h1 {
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
}
.address_content {
  border-top: 1px dashed #ffffff;
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 32px;
  margin-top: 57px;
}

.address_content p {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 700;
}
.address_content .address_para {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 200;
}
.footer_section .address_content_3 h1 {
  margin-top: 4px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: capitalize;
}
.footer_section .address_content_3 P {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 200;
}
.footer_section .dash_bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 32px;
}
.footer_section .footer_links_wrapper .links_box {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px dashed #ffffff;
}
.footer_section .footer_links_wrapper .links_box svg {
  color: #ffff;
  transition: 0.3s ease;
}
.footer_section .footer_links_wrapper .links_box svg:hover {
  color: #0074ac;
  cursor: pointer;
}
.footer_section .footer_links_wrapper .links_box h1:hover {
  color: #0074ac;
  cursor: pointer;
}
.footer_section .footer_links_wrapper h1 {
  margin-top: 26px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 200;
  padding-bottom: 8px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.footer_section .vom_img {
  height: 138px;
  width: 100%;
  margin-top: 28px;
  background-color: #ffffff;
}
.footer_section .vom_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.footer_section .copy_rights {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_section .copy_rights p {
  font-size: 12px;
  color: rgba(200, 200, 200, 0.5);
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
}
.footer_section .copy_rights_buttons {
  display: flex;
  gap: 22px;
}
.footer_section .copy_rights_buttons h1 {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.footer_section .footer_background_svg {
  position: absolute;
  top: -120px;
  left: -58px;
  width: auto;
  height: 879px;
}
/* FOOTER STYLES END */
